/* html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

* {
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: #ffff;
  background-color: #000;
}

.apa {
    background-color: chocolate;
}

/* header {
    background-color: green;
} */

nav a:focus {
    /* background-color: aqua; */
    border-style: solid;
    border-width: 1px;
}

/* section {
    background-color:blue;
}

article {
    background-color: blueviolet;
}

aside {
    background-color: brown;
} */

footer {
  /* background-color: chocolate; */
  /* position:relative; */
  left: 0;
  bottom: 0;
  /* width: 100%; */
  /* color: #000; */
  /* text-align: center; */
}
